*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headerMain{
  height: 100%;
  width: 100%;
}
.subHeaderMain{
    width: 90%;
    margin: auto;
}
.headerContainer{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo a{
    text-decoration: none;
}
.logoPart .logo img{
    width: 285px;
    overflow: clip;
    height: 100px;
}
 .searchBar{
    width: 600px;
    height: 4rem;
    font-size: 1.5rem;
    padding-left: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
}
.crossBtn{
    border: 0;
    background-color: rgba(250, 251, 252, 0.212);
    right: 2rem;
    position: relative;
    /* transform: translate(-2rem, -2ex); */
    /* visibility: hidden; */
}

.searchPart{
    display: flex;
}
.btnSearchHeader{
    width: 80px;
    height: 68px;
    background-color: #28a745;
    border: 0;
    border-radius: 3px;
    right: 1.19rem;
    position: relative;
    
}
.activitiesPart{
    display: flex;
    gap: 2rem;
}
.wishlistItem{
    padding: 2px;
    border-radius: 50%;
    background-color: rgb(243, 246, 248);
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 30px;
    bottom: 1rem;
    right: .2rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-left: 2px;
  
}
.wishIconSec{
    display: inline-flex;
    
}
.wishlistHeaderTitle{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    right: 1rem;
    position: relative;
}
.cartHeaderTitle{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    right: 0rem;
    position: relative;
    

}
.searchField{
    position: relative;
}
.profileHeaderTitle{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    right: 0rem;
    position: relative;
    

}