*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headerMain{
  height: 100%;
  width: 100%;
}
.subHeaderMain{
    width: 90%;
    margin: auto;
}
.headerContainer{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logoPart .logo img{
    width: 285px;
    overflow: clip;
    height: 100px;

}