*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topHeader{
    height: 100%;
    width: 100%;
    background-color: rgb(241, 238, 238);
    margin: 0 0 2rem 0;
}
.subTopHeader{
    width: 90%;
    margin: auto;
   
}
.subTopHeader .topHeaderContent{
    height: 4rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.topHeaderContent .phoneInfo a{
    text-decoration: none;
}
.phoneInfo .phoneStatus{
    font-size: 1.3rem;
    color: #777;
    letter-spacing: 0px;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: 600;
}
.contactInfo{
    display: inline-flex;
    gap: 20px; 
}
.phoneIcon{
    font-size: 20px;
}
.contactInfo a{
    text-decoration: none;
}
.groupTitle{
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #777;
    font-weight: 600;
    
}
.breakPoint{
    margin-left: 1rem;
}

@media (max-width:576px)  {
    .topHeader{
        height: 100%;
        width: 100%;
        background-color: aquamarine;
    }
    .subTopHeader .topHeaderContent{
        height: 4rem;
       display: flex;
       align-items: center;
       justify-content: space-between;
       background-color: aquamarine;
    }
    .phoneInfo .phoneStatus{
        font-size: .8rem;  
    }
    .phoneIcon{
        font-size: 12px;
    }
    .groupTitle{
        font-size: .8rem;  
    } 
}
@media (min-width:577px) and (max-width:768px)  {
    .topHeader{
        height: 100%;
        width: 100%;
        background-color: rgba(240, 232, 231, 0.37);
    }
    .subTopHeader .topHeaderContent{
        height: 4rem;
       display: flex;
       align-items: center;
       justify-content: space-between;
       /* background-color: rgba(240, 232, 231, 0.37); */
    }
    .phoneInfo .phoneStatus{
        font-size: 1rem;  
    }
    .phoneIcon{
        font-size: 15px;
    }
    .groupTitle{
        font-size: 1rem;  
    } 
}
@media (min-width:769px) and (max-width:992px)  {
    .topHeader{
        height: 100%;
        width: 100%;
        background-color: rgba(114, 78, 73, 0.37);
    }
    .subTopHeader .topHeaderContent{
        height: 4rem;
       display: flex;
       align-items: center;
       justify-content: space-between;
       /* background-color: rgba(240, 232, 231, 0.37); */
    }
    .phoneInfo .phoneStatus{
        font-size: 1rem;  
    }
    .phoneIcon{
        font-size: 16px;
    }
    .groupTitle{
        font-size: 1rem;  
    } 
}
